.services {
    .section {
        > .more-height {
            min-height: calc(100vh - 210px);

            @media screen and (max-width: $medium) {
                min-height: auto;
            }
        }
    }
}
.full-width-img {
    margin: 50px 0px 100px;
	overflow: hidden;
		
    @media screen and (max-width: $medium) {
        margin: 0px 0px 50px;
	}
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
    img {
		width: 100%;
		transition: .8s ease;
    }
}